html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(13, 118, 4);
    margin: 0; /* デフォルトのmarginを削除 */
    color:white;
  }


div {
    width: 100%;
    height: 100%;
    text-align: center;
}

.form-group{
    margin:10px 0;

}

.price{
    margin: 10;
}